// containers accessed in process definitions with $params.containers.NAME
params {
    containers {
        base = 'nciccbr/ccbr_ubuntu_base_20.04:v7'
        baser = 'nciccbr/sinclair_baser:0.1.0'
        harmony = 'nciccbr/sinclair_harmony:0.1.0'
        seurat_merge = 'nciccbr/sinclair_seurat_merge:0.1.0'
        seurat_preproc = 'nciccbr/sinclair_seurat_preproc:0.1.0'
        integ = 'nciccbr/sinclair_integ:0.1.0'
        scvi = 'nciccbr/sinclair_scvi:0.2.0'
    }
}
